<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>
            Home Page
        </h1>
        <p>
            Hello, {{name}}
        </p>
    </div>

    <button onclick="window.location.href='/redirect';">
        Click here for redirect to get_file
    </button>

    <button onclick="window.location.href='/login';">
        Click here for login
    </button>

    <form action = "/post_file" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple />
        <input type = "submit" value="Upload">
    </form>

    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>